<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Login
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div id="default">
      <div id="logo">
        
        </div>
      
        <form #form="ngForm" novalidate>
          <ion-list>
      
            <ion-item>
              <ion-label stacked style="font-size: 18px;">E-mail</ion-label>
              <ion-input type="text" name="email" [(ngModel)]="user.email" #email="ngModel" required></ion-input>
            </ion-item>
            <ion-item *ngIf="email.errors && (email.dirty || email.touched)" class="text-danger">
              <span class="input-required">O campo é obrigatório</span>
            </ion-item>
      
            <ion-item>
              <ion-label stacked style="font-size: 18px;">Senha</ion-label>
              <ion-input type="password" name="password" [(ngModel)]="user.password" #password="ngModel" required></ion-input>
            </ion-item>
            <ion-item *ngIf="password.errors && (password.dirty || password.touched)" class="text-danger">
              <span class="input-required">O campo é obrigatório</span>
            </ion-item>
      
          </ion-list>
      
          <button ion-button block color="primary" [disabled]="!form.form.valid" (click)="signIn()">
            Entrar
          </button>
        </form>
      
        <button ion-button block clear (click)="resetPassword()">
          Esqueci minha senha
        </button>
      <!--
        <button ion-button block color="light" (click)="createAccount()">
          Criar conta
        </button>
      -->
  </div>

</ion-content>
